.banner {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  line-height: 1;
  min-height: 20rem;
  position: relative;
  width: 100%;
}

.banner__content {
  font-size: 20vw;
  font-family: monospace;
  position: relative;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

.banner__label {
  bottom: -2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  left: 50%;
  position: absolute;
  text-transform: lowercase;
  transform: translateX(-50%);
}

.banner__arrow {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  bottom: 3rem;
  cursor: pointer;
  height: 1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 1rem;
}

.banner__arrow:focus {
  background: none;
}

@media (min-width: 600px) {
  .banner {
    min-height: 40rem;
  }

  .banner__label {
    font-size: 1.15rem;
  }
}
