.belongings {
  padding: 2rem 1.5rem;
}

.belongings__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.belonging {
  margin-bottom: 4rem;
}

.belonging:last-child {
  margin-bottom: 0;
}

.belonging__image {
  margin-bottom: 1rem;
  padding: 0 2rem;
  width: 100%;
}

.belonging__image img {
  display: block;
  width: 100%;
}

.belonging__body {
  padding-top: 0.em;
}

.belonging__name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: lowercase;
}

@media (min-width: 600px) {
  .belongings {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .belongings__list {
    margin: 0 auto;
    max-width: 425px;
    padding: 0;
  }

  .belonging {
    margin-bottom:  4rem;
  }

  .belonging__image {
    margin-bottom: 2rem;
  }

  .belonging__name {
    font-size: 2rem;
  }
}
