.category {
  margin-bottom: 4rem;
  text-align: center;
}

.category__name {
  display: inline-block;
  position: relative;
  width: 10rem;
}

.category__arrow {
  border-top: 1px solid black;
  cursor: pointer;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  width: 0.5rem;
}

.category__arrow--prev {
  border-left: 1px solid black;
  left: -1rem;
  transform: rotate(-45deg) translateY(-50%);
}

.category__arrow--next {
  border-right: 1px solid black;
  right: -1rem;
  transform: rotate(45deg) translateY(-50%);
}

@media (min-width: 600px) {
  .category {
    margin-bottom: 8rem;
  }

  .category__name {
    font-size: 3rem;
    width: 20rem;
  }

  .category__arrow {
    height: 1rem;
    width: 1rem;
  }
}
